.About {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.About-header {
    margin-bottom: 2%;
    width: 100%;
    height: 30vh;
    background-color: white;
    background-image: url("images/ardyunavertutyun.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.About-main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.About-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.About-main-img {
    flex: 1;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.About-main-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.About-main-info {
    flex: 1;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    max-height: 300px; /* սահմանափակում եմ բարձրությունը, որ լինի սքրոլ */
    padding: 1rem;
}

.About-main-info p {
    font-weight: bold;
    font-size: 20px;
    color: gray;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .About-content {
        flex-direction: column;
    }

    .About-main-info {
        width: 90%;
        max-height: 200px;
        font-size: 16px;
    }

    .About-main-info p {
        font-size: 16px;
        width: 100%;
    }

    .About-main-img {
        width: 100%;
    }

    .About-main-img img {
        width: 100%;
        height: auto;
    }

    .About-header {
        font-size: 5vw;
    }
}
