.Services {
    width: 96%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    /*gap: 4rem;*/
    background-color: #f9f9f9;
}

.Services-header {
    width: 100%;
    height: 30vh;
    background-color: white;
    background-image: url("//images/pordz.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.Services-main {
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.Services-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 85%;
}

.Services-content h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.Services-content h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 1rem;
}

.Services-content p {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
}

.Services-content ul {
    margin-top: 1rem;
    padding-left: 1.5rem;
}

.Services-content ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
    list-style-type: disc;
}

.Services-content-img {
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 12px 12px;
}

.Services-content-one-img {
    background-image: url("//images/vorak.jpg");
}

.Services-content-two-img {
    background-image: url("//images/heat-wave-brings-down-solar-panel-efficiency-by-up-to-1-5-per-cent-per-5c-temp-rise-experts.webp");
}

.Services-content-tree-img {
    background-image: url("//images/texnikakanSpasarkum.jpg");
}

.Services-content-four-img {
    background-image: url("//images/baker2.avif");
}
@media (min-width: 768px) {
    .Services-main {
        flex-direction: row;
        align-items: center;
        padding: 2rem;
    }

    .Services-content-img {
        width: 50%;
        height: 50vh;
    }
}

@media (max-width: 767px) {
    .Services-header {
        font-size: 8vw;
        height: 25vh;
    }

    .Services-content h2 {
        font-size: 1.5rem;
    }

    .Services-content h3 {
        font-size: 1rem;
    }

    .Services-content p, .Services-content ul li {
        font-size: 0.95rem;
    }

    .Services-content-img {
        height: 30vh;
    }
}


